# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# proxion-keyring
app/.env
app/dist/
app/node_modules/

# proxion-keyring Data
tickets*.json
*.jsonld
!test-policy.jsonld
